<%- include('./partials/header'); -%>
<%- include('./partials/errorMsg'); -%>

  <div class="container mt-4">    
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card shadow-sm mt-3 mb-3">
          <div class="card-header text-capitalize">
            <% if (currentUser && user._id.equals(currentUser._id)) { %>
              Your Profile
            <% } else { %>
              <%= user.fullName %>'s Profile
            <% } %>            
          </div>
          <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <i class="fas fa-envelope"></i> <strong>Email: </strong><a href="mailto:<%= user.email %> "><%= user.email %></a>             
              </li>
              <% if(!user.phone) { %>
              <% } else { %>
                <li class="list-group-item">
                  <i class="fas fa-phone"></i> <strong>Phone: </strong><span class="text-muted"><%= user.phone %>    </span>          
                </li>
              <% } %>              
              <li class="list-group-item">
                <i class="far fa-calendar-alt"></i> <strong>Joined: </strong><span class="text-muted"><%= moment(user.joined).format('LL') %> </span>             
              </li>              
              <% if (currentUser && user._id.equals(currentUser._id)) { %>
                <li class="list-group-item d-flex justify-content-center">
                  <a class="btn btn-warning btn-sm float-left mr-1" href="/users/<%= user._id %>/edit">Edit Profile</a>
                  <form class="float-left" action="/users/<%= user._id %>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger btn-sm">Delete Account</button>
                  </form>
                </li>
              <% } %>             
          </ul>
        </div>
      </div>
    </div>
  </div>

  <%- include('./partials/footer') -%>